#t1{
    background-color: rgb(166, 79, 176);
    border-color: rgb(166,79,176);
}

#t2{
    background-color: rgb(161, 230, 240);
    border-color: rgb(161,230,240);
}

#t3{
    background-color:lightgoldenrodyellow ;
    border-color: lightgoldenrodyellow;
}

#t4{
    background-color: lightpink;
    border-color: lightpink;
}

